@mixin md {
    @media (min-width: 1200px) { 
        @content; 
    }
}

p {
    margin-bottom: 0px;
}

.c-baisebol {
    padding: 60px 0px;
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/baisebol/Baseball-fundo.png');
    background-position: left top;
    background-size: cover;

    .baisebol {
        &-img-logo {
            width: 106px;
            height: 106px;
            @include md {
                width: 100%;
                height: 100%;
            }
        }
        &-title {
            font-weight: 800;
            font-size: 24px;
            line-height: 2rem;
            color: #002d62;
            font-family: 'nostromo';

            @include md {
                font-size: 65px;
                padding-top: 36px;
                margin-bottom: 86px;
            }
        }
        &-box_img {
            .baisebol-img {
                width: 100%;
                @include md {
                    width: 100%;
                }
            }
        }
        &-describe {
            color: black;
            padding: 0px 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5rem;
            text-align: left;
            padding-left: 80px;
            font-family: 'gotham';

            overflow-y: auto;
            max-height: 200px;
            @include md{
                max-height: 400px;

            }
            &::-webkit-scrollbar {
                width: 8px; /* largura da barra de rolagem */
                background-color: #eac1b3; /* cor de fundo da barra de rolagem */
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #e74501; /* cor do polegar (a parte que você arrasta) */
                border-radius: 4px; /* borda arredondada  */
            }
        }
        &-anchor {
            font-size: 14px;
            color: #fff;
            border: 1px solid #fff;
            padding: 4px 8px;
            border-radius: 8px;
            margin: 0px 8px;
        }
    }
}

.slick-next,
.slick-prev {
    border: none;
    width: 32px;
    height: 32px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(122, 139, 165);
    color: #fff;

    i {
        font-size: 30px;
    }
}

.slick-next {
    margin-left: 10px;
}

.slick-prev {
    margin-right: 10px;
}

.c-teams-baisebol {
    margin-top: 27px;

    .box-team-beisebol {
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;

        .teams-baisebol-img {
            width: 100%;
            object-fit: cover;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
        }
        @include md {
            width: 200px;
            height: 200px;
        }
    }
    .teams-baisebol-describe {
        overflow-y: auto;
        max-height: 200px;
        padding-right: 16px;

        &::-webkit-scrollbar {
            width: 8px;
            background-color: #eedab2;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #fca701;
            border-radius: 4px;
        }
    }
    .content-mob {
        margin: 16px 0px;
        padding: 8px 0px;
        @include md {
            padding: 0px;
            margin: 0px;
        }
    }

    .teams-baisebol {
        &-color {
            padding: 60px 30px;
            background-color: rgba(234, 234, 234, 0.5);
            border-radius: 8px;
        }
        &-title {
            font-size: 32px;
            font-family: 'Nostromo';
        }
        &-describe {
            overflow-y: auto;
            max-height: 200px;
            padding-right: 16px;
            /* Estilo da barra de rolagem */
            &::-webkit-scrollbar {
                width: 8px; /* largura da barra de rolagem */
                background-color: #eedab2; /* cor de fundo da barra de rolagem */
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #fca701; /* cor do polegar (a parte que você arrasta) */
                border-radius: 4px; /* borda arredondada  */
            }
        }
        &-box_img {
            width: 135px;
            height: 135px;
            background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/quadrado.svg');
            background-size: cover;
            background-repeat: no-repeat;

            @include md {
                width: 135px;
                height: 135px;
            }
        }
        &-division {
            font-size: 20px;
            color: #000;
            margin-bottom: 0;
            font-weight: 800;
            font-family: 'gotham';

            &-sp {
                padding-bottom: 8px;
                font-family: 'gotham';
                @include md {
                    padding-top: 0;
                    padding-bottom: 16px;
                }
            }
        }
        &-name {
            font-size: 16px;
            color: #000;
            padding-top: 16px;

            font-family: 'gotham';

            @include md {
                font-size: 24px;
            }
        }
        &-win {
            font-size: 18px;
            font-weight: 400;
            padding-bottom: 8px;

            &-number {
                line-height: 2rem;
                color: #540017;
                font-weight: 800;
                font-size: 40px;
            }
        }
    }
}

