@mixin md{
    @media (min-width: 1200px) { @content; }
}

p{
    margin-bottom: 0px;
}

.c-basketball{
    padding: 60px 0px;
    background-image: url('../../../../../imgtest/basketball/fundo-basketball.png');
    background-position: left top;
    background-size: cover;




    .basketball{
        &-title{
            font-weight: 800;
            font-size:48px;
            color: #002d62;
            font-family: 'Nostromo';
        }
        &-box_img{
            .basketball-img{
                width: 100%;

                @include md{
                    width: 100%;
                }
            }
        }

        &-describe{
            color:black;
            padding: 0px 8px;
            font-weight: 400;
            font-size: 16px;
            overflow-y: auto;
            max-height:350px;

            font-family: 'gotham';
            &::-webkit-scrollbar {
                width: 8px; 
                background-color: #c6cad3; 
                border-radius: 4px;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: #0e1d2f; 
                border-radius: 4px;
            }
        }

        &-anchor{
            font-size:14px;
            color: #fff;
            border:1px solid #fff;
            padding:4px 8px;
            border-radius:8px; 
            margin:0px 8px;
        }

    }
        
}


