@mixin md{
    @media (min-width: 1200px) { @content; }
}

p{
    margin-bottom: 0px;
}
.c-basketball{
    padding: 60px 0px;
    background-image: url('../../../../../imgtest/basketball/fundo-basketball.png');
    background-position: left top;
    background-size: cover;


    .basketball{
        &-title{
            font-weight: 800;
            font-size:48px;
            color: #002d62;
            font-family: 'Nostromo';
        }
        &-box_img{
            .basketball-img{
                width: 100%;
                @include md{
                    width: 100%;
                }
            }
        }

        &-describe{
            color:black;
            padding: 0px 8px;
            font-weight: 450;
            font-size: 16px;
            text-align: justify;
        }

        &-anchor{
            font-size:14px;
            color: #fff;
            border:1px solid #fff;
            padding:4px 8px;
            border-radius:8px; 
            margin:0px 8px;
        }

    }
        
}
.slick-next,.slick-prev{
    border: none;
    width:32px;
    height: 32px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(122, 139, 165);
    color: #fff;

    i{
        font-size: 30px;
    }
}
.slick-next{
    margin-left: 10px;
    
}
.slick-prev{
    margin-right: 10px;

}

.c-teams-basketball{
    padding-bottom: 60px; 
    background-image: url('../../../../../imgtest/basketball/fundo-basketball22.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    .teams-basketball-describe{
        text-align: justify;
        overflow-y: auto;
        max-height: 200px;
        padding-right: 16px; 
        //background-color: #FCA701;
         /* Estilo da barra de rolagem */
         &::-webkit-scrollbar {
            width: 8px; /* largura da barra de rolagem */
            background-color: #EEDAB2; /* cor de fundo da barra de rolagem */
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #FCA701; /* cor do polegar (a parte que você arrasta) */
            border-radius: 4px; /* borda arredondada  */
        }

    }

   .teams-basketball{
    &-color {
        padding: 60px 30px;
        background-color: rgba(234, 234, 234, 0.5);
        border-radius: 8px;
    }
    &-title{
        font-size: 32px;
        font-family: 'Nostromo';
    }
    &-describe{
        text-align: justify;
        overflow-y: auto;
        max-height: 200px;
        padding-right: 16px; 
        //background-color: #FCA701;
         /* Estilo da barra de rolagem */
         &::-webkit-scrollbar {
            width: 8px; /* largura da barra de rolagem */
            background-color: #EEDAB2; /* cor de fundo da barra de rolagem */
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #FCA701; /* cor do polegar (a parte que você arrasta) */
            border-radius: 4px; /* borda arredondada  */
        }

    }
    &-img{
        width: 240px;
        object-fit: cover;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        height: 240px;
    }
    &-box_img{
        width: 135px;
        height: 135px;
        background-image: url('../../../../../imgtest/quadrado.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-division{
        font-size: 20px;
        color: #000;
        font-weight: 800;
        font-family: 'gotham';
        padding-bottom: 32px;
    }
    &-name{
        font-size: 24px;
        font-family: 'gotham';
    }
    &-win{
        font-size: 18px;
        font-weight: 450;
        padding-bottom: 8px;

        &-number{
            line-height: 2rem;
            color: #540017;
            font-weight: 800;
            font-size: 40px;
        }
    }
   }






}

