@mixin md{
    @media (min-width: 1200px) { @content; }
}

p{
    margin-bottom: 0px;
}
.c-curiosity-b{
    padding: 60px 0px;

    .curiosity{
        &-color{
            background-color: #540017;
            border-radius: 8px;
        }
        &-title{
            font-weight: 800;
            font-size:32px;
            line-height: 2rem;
            color: #ffff;
            padding-top: 56px;
            padding-bottom: 56px;
            font-family: 'Nostromo';
        }
        &-home{
            padding-bottom: 64px;     
            
            @include md{
                padding:0px 64px 64px 64px;
            }

        }

        &-describe{
            color:#ffff;
            font-weight:200;
            font-size: 16px;
            font-family: 'gotham';
        }

        &-top-tittle{
            color:#ffff;
            font-weight: 500;
            font-size:20px;
            font-family: 'gotham';
            margin-bottom: 16px;

        }

    }
        
}




