@mixin md{
    @media (min-width: 1200px) { @content; }
}

p{
    margin-bottom: 0px;
}
.c-football{

    //envolver em 3 partess
    padding: 60px 0px;
    background-color:#0e1d2f ;
    background-image: url('../../../../../imgtest/football/football-fundo.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;


    .football{
        &-title{
            font-weight: 800;
            font-size:65px;
            line-height: 2rem;
            color: #fff;
            font-family: 'NostromoRegular-Heavy', sans-serif;
            padding-top: 36px;
            margin-bottom: 86px;
        }
        &-box_img{
            .football-img{
                width: 100%;
                @include md{
                    width: 130%;
                }
            }
        }

        &-describe{

            //colocar scroll
            color:#fff;
            padding: 0px 8px;
            font-weight: 450;
            font-size: 16px;
            text-align: left;
            padding-left: 80px;
        }

        &-anchor{
            font-size:14px;
            color: #fff;
            border:1px solid #fff;
            padding:4px 8px;
            border-radius:8px; 
            margin:0px 8px;
        }
    }
        
}
.slick-next,.slick-prev{
    border: none;
    width:32px;
    height: 32px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(122, 139, 165);
    color: #fff;

    i{
        font-size: 30px;
    }
}
.slick-next{
    margin-left: 10px;
    
}
.slick-prev{
    margin-right: 10px;

}

.c-teams-football{
    margin-top: 27px;
   // background-color: #c90707;
   .teams-football{
    &-title{
        font-weight: 800;
        font-size:32px;
        line-height: 2rem;
        color: #fff;
        font-family: 'NostromoRegular-Heavy', sans-serif;
        padding-top: 36px;

    }
    &-color {
        background-color: rgba(31, 45, 62, 0.5); /* 0.5 é a opacidade */
        border-radius: 8px;
    }
    &-img{
        width: 272px;
        height: 272px;

    }
    &-describe{
        text-align: justify;
        overflow-y: auto;
        max-height: 200px;
        padding-right: 16px;
        color: #fff; /* ajuste a altura máxima conforme necessário */
        //background-color: #FCA701;
         /* Estilo da barra de rolagem */
         &::-webkit-scrollbar {
            width: 8px; /* largura da barra de rolagem */
            background-color: #EEDAB2; /* cor de fundo da barra de rolagem */
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #FCA701; /* cor do polegar (a parte que você arrasta) */
            border-radius: 4px; /* borda arredondada  */
        }

    }
    &-name{
        font-size: 24px;
        font-family: sans-serif;
    }

   }






}

