@mixin md{
    @media (min-width: 1200px) { @content; }
}

p{
    margin-bottom: 0px;
}
.c-football-curiosity{
    padding: 60px 0px;

    .football-curiosity{
        &-color{
            background-color: #EAEAEA;
            border-radius: 8px;
        }
        &-title{

            font-weight: 800;
            font-size:36px;
            line-height: 2rem;
            color: black;
            padding-top: 56px;
            padding-bottom: 56px;
            font-family: 'Nostromo';
        }
        &-home{
            padding-bottom: 64px;
            padding-left: 64px;
            padding-right: 64px;
        }
        &-img{
            width: 100%;

        }

        &-describe{
            color:#000000;
            font-weight: 450;
            line-height: 1.5rem;
            font-size: 16px;
            text-align: left;
        }


    }
        
}

p{
    margin-bottom: 0px;
}
.c-curiosity{
    padding: 60px 0px;

    .curiosity{
        &-color{
            background-color: #540017;
            border-radius: 8px;
        }
        &-title{
            font-weight: 800;
            font-size:36px;
            line-height: 2rem;
            color: #ffff;
            padding-top: 56px;
            padding-bottom: 56px;
            font-family: 'Nostromo';
        }
        &-home{
            padding-bottom: 64px;
            padding-left: 64px;
            padding-right: 64px;
            

        }

        &-describe{
            color:#ffff;
            font-weight: 450;
            font-size: 16px;
            text-align: justify;
        }

    }
        
}




