@mixin md{
    @media (min-width: 1200px) { @content; }
}


.c-history{
    padding: 60px 0px;
    background-color:#0E1D2F;
    background-image: url('../../../../../imgtest/historia/Frame\ 7.png');
    background-size: cover; /* Para cobrir toda a área do elemento */
            background-position: center; /* Para centralizar a imagem */

    .history{
        &-title{
            color:#fff;
            font-size: 64px;
            font-weight: 700;
            padding-bottom: 16px;
            margin-bottom: 64px;
        }
        &-describe{
            color:#fff;
            font-size: 16px;
            font-weight: 450;
        }
        &-box_img{
            margin:64px 32px 64px;
            padding:4px 8px 8px 8px;
        }
        
    }
}