@mixin md{
    @media (min-width: 1200px) { @content; }
}
//media para computador

.c-history{
    padding: 80px 0px 60px 0px;
    background-color:#0E1D2F;
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/historia/Frame-7.png');
    background-size: cover; /* Para cobrir toda a área do elemento */
    background-position: center; /* Para centralizar a imagem */
    padding-left: 16px;
    padding-right: 16px;

    @include md{
        padding-left: 16px;
        padding-right: 16px;
    }

    .history{
        &-title{
            color:#fff;
            font-family: Nostromo;
            font-size: 36px;
            font-weight: 700;
            padding-bottom: 32px;

            @include md{
                font-size: 45px;
            }
        }

        &-describe{
            color:#fff;
            font-size: 15px;
            line-height: 1.7rem;
            font-weight: 400;
            margin-top: 32px;
            font-family: 'gotham';
            overflow-y: auto;
            
            max-height:220px;
            padding:16px 32px;
            @include md{
                max-height:380px;
                padding:0px;
            }
            &::-webkit-scrollbar {
                width: 8px; 
                background-color: #485361; 
                border-radius: 4px;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: #ffffff; 
                border-radius: 4px;
            }

            @include md{
                margin: 0px;
            }
        }

        &-box_img{
            width: 86px;
            height: 86px;
            margin: 64px 16px;

            @include md{
                width: 100px;
                height: 100px;
                margin: 64px 16px 0px 16px;
            }

            img{
                width: 100%;
                object-fit: cover;

            }
        }
        
    }
}