
@mixin md{
    @media (min-width: 1200px) { @content; }
}

p{
    margin-bottom: 0px;
}
.c-home{
    background-color: #0E1D2F;
    padding: 60px 0px;
    @include md{
        min-height: 100vh;
    }


    .home{
        &-top-title{
            text-align: center;
            font-size:25px;
            color:#fff;
            font-family: 'nostromo-outline';

            
            @include md{
                font-size:28px;
                text-align: start;  
            }
        }
        &-title{
            font-weight: 800;
            font-size: 30px;
            text-align: center;
            line-height: 2rem;
            font-family:"Nostromo";
            color: #8f0228;
            padding-bottom:32px;

            @include md{
                font-size:39px;
                line-height: 1.5rem;
                text-align: start;
            }
        }

        &-describe{
            color:#fff;
            padding: 0px 8px;
            font-size: 14px;
            font-family: 'gotham';
        }

        &-anchor{
            font-size:13px;
            color: #fff;
            border:1px solid #fff;
            
            border-radius:8px;
            padding:4px 6px;

            //mobile
            margin: 0px 8px;

            margin-top: 40px;
        
            @include md{
                margin-top: 0px;
                margin:0px 4px; 


            }

        }
        &-box-img{
            background-size: cover;
            width: 33%;
            height: 390px;
          //  background-position: center;

            &_basquete{
                background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/Home/home-bask.png');
                
                width: 96px;
                height: 215px;
                transform: translateY(32px);
                z-index: 2;

                @include md{
                    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/basquete-offwhite.png');
                    transform: translateY(-21px);
                    width: 206%;
                    height: 142%;
                    &:hover{
                        background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/Home/Basquete.png');
                        transform: translateY(-21px);
                        width: 206%;
                        height: 142%;
                    }
                }
                

            }
            &_baseball{
                background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/Home/home-base.png');
                width: 118px;
                height: 253px;
                z-index: 3;
                transform: translateY(-19px);
                @include md{
                    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/baseball-offwhite.png');
                    transform: translateY(-134px);
                    width: 264%;
                    height: 167%;

                    &:hover{
                        background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/Home/Baseball.png');
                        transform: translateY(-134px);
                        width: 264%;
                        height: 167%;
                    }

                }


            }
            &_futebol{
                background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/Home/home-fut.png');
                width: 158px;
                height: 228px;
                z-index: 1;
                
                @include md{
                    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/futebol-americano-offwhite.png');
                    transform: translateY(-135px);
                    width: 398%;
                    height: 163%;
                    &:hover{
                        background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/Home/futebol-americano.png');
                        transform: translateY(-135px);
                        width: 398%;
                        height: 163%;
                    }
                }
            }


            }
        }
    }
        


