
@mixin md{
    @media (min-width: 1200px) { @content; }
}

p{
    margin-bottom: 0px;
}
.c-home{
    background-color: #0E1D2F;
    padding: 60px 0px;

    .home{
        &-top-title{
            font-size:32px;
            color:#fff;
            font-family: 'nostromo-outline';
        }
        &-title{
            font-weight: 800;
            font-size:56px;
            line-height: 2rem;
            font-family:"Nostromo";
            color: #8f0228;
            padding-bottom:32px;
        }

        &-describe{
            color:#fff;
            padding: 0px 8px;
            font-weight: 450;
            font-size: 16px;
        }

        &-anchor{
            font-size:14px;
            color: #fff;
            border:1px solid #fff;
            padding:4px 8px;
            border-radius:8px; 
            margin:0px 8px;
        }
        &-box-img{
            background-size: cover;
            width: 33%;
            height: 390px;
            background-position: center;

            &_basquete{
                background-image: url('../../../../../imgtest/home/basquete.png');

                @include md{
                    background-image: url('../../../../../imgtest/basquete-offwhite.png');
                }
                
                &:hover{
                    background-image: url('../../../../../imgtest/home/basquete.png');
                }
            }
            &_baseball{
                background-image: url('../../../../../imgtest/home/baseball.png');

                @include md{
                    background-image: url('../../../../../imgtest/baseball-offwhite.png');

                }

                &:hover{
                    background-image: url('../../../../../imgtest/home/baseball.png');
                }
            }
            &_futebol{
                background-image: url('../../../../../imgtest/home/futebol-americano.png');
                
                @include md{
                    background-image: url('../../../../../imgtest/futebol-americano-offwhite.png');
                }

                &:hover{
                    background-image: url('../../../../../imgtest/home/futebol-americano.png');
                }
            }
        }
    }
        
}

