@mixin md{
    @media (min-width: 1200px) { @content; }
}

p{
    margin-bottom: 0px;
}
.c-newsletter{
    background-image: url('https://cdn.futfanatics.com.br/futfanatics-nacional/paginas-personalizadas/e-sports/imgtest/Wallpapers.png');
    padding: 60px 0px;
    background-size: contain;

    padding-left: 16px;
    padding-right: 16px;
    @include md{
        padding-left: 0px;
        padding-right: 0px;

    }

   .newsletter{

    &-toptitle{
        font-size: 16px;
        font-weight: 700;
        color: #000;
        text-align: center;
        @include md{
            font-size: 18px;
            text-align:left ;

        }
    }
    &-title{
        font-size: 18px;
        line-height: 1rem;
        text-align: center;
        font-weight: 800;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 32px;
        @include md{
            text-align:left ;
        }


    }
        &-input{

            height: 30px;
            width:50%;
            
            background-color: transparent; border: 1px solid #2d3c4d;
            border-radius: 4px;

            @include md{
                height: 30px;
                width: 100%;


            }

        }
    &-img{

        width: 100%;
        margin-left: -49px;

        @include md{
            margin-left: 0px;
            
        }
        

    }
   }

}

.btn-form{
    background-color: #540017;
    color:white;
    border-radius: 4px;

    &:hover{
        text-decoration: none;
        color:white;
    }
}

